<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    header {
      font-size: 60px;
      font-weight: bold;
      text-align: center;
    }
    body {
      font-size: 24px;
      color: #003594;
      /* background-color: #fff700; */
    }
  </style>
  <title>EatNow</title>
</head>

<body>
  <header>EatNow</header>
      <a href="{{ url_for('map_page') }}">Map</a></br>
      <a href="{{ url_for('search') }}">View Wait Times</a></br>
      <a href="{{ url_for('review') }}">Report Wait Time or Leave a Review</a></br>
</body>

</html>