<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EatNow</title>
  </head>
  <body>
    <ul>
      <li>
        <a href="{{ url_for('map_page') }}">Map</a>
      </li>
        <li>
            <a href="{{ url_for('search') }}">View Wait Times</a>
        </li>
      <li>
        <a href="{{ url_for('review') }}">Report Wait Time or Leave a Review</a>
      </li>
    </ul>
  </body>
</html>
