{% extends "index.html" %} {% block content %}
<div class = "block my-background-secondary">
    <h1 class='color-primary'>Search Restaurants by Wait Time</h1>

        <form method="POST" action="/search_results">

            <label for="waitTime" class = 'color-primary'>Select a Wait Time:</br>

            <select name="time" id="time">
                <option value="">--Select Time--</option>
                <option value="5">5 minutes</option>
                <option value="10">10 minutes</option>
                <option value="15">15 minutes</option>
                <option value="20">20 minutes</option>
                <option value="30">30 minutes</option>
                <option value="45">45 minutes</option>
                <option value="60">60 minutes</option>
                <option value="all">Any</option>
            </select></br></br>

            <button type="submit" class='button color-primary'>Submit</button>
        </form>
</div>
{% endblock %}