<!DOCTYPE html>
<html>

<head>
    <title>Search Wait Times</title>
</head>

<body>
    <h3>Search Restaurants by Wait Time</h3>
    <label for="cars">Choose a car:</label>

        <select name="time" id="time">
        <option value="5">5 minutes</option>
        <option value="10">10 minutes</option>
        <option value="15">15 minutes</option>
        <option value="20">20 minutes</option>
        <option value="30">30 minutes</option>
        <option value="45">45 minutes</option>
        <option value="60">60 minutes</option>
        </select>
</body>

</html>