<!DOCTYPE html>
<html>

<head>
    <title>Search Wait Times</title>
</head>

<body>
    <h3>Search Restaurants by Wait Time</h3>
    <form>
        <label for="waitTime">Select a Wait Time:</br>

        <select name="time" id="time">
            <option value="">--Select Time--</option>
            <option value="5m">5 minutes</option>
            <option value="10m">10 minutes</option>
            <option value="15m">15 minutes</option>
            <option value="20m">20 minutes</option>
            <option value="30m">30 minutes</option>
            <option value="45m">45 minutes</option>
            <option value="60m">60 minutes</option>
            <option value="all">Any</option>
        </select>
        </br></br>
        <button type="button" id="submitButton">Submit</button>

    </form>
</body>

</html>

<script>
    // Store input values in local storage
    function storeInputValues() {
        var time = document.getElementById("time");

        localStorage.setItem("time", time.value);
    }

    // Set input values from local storage
    function setInputValues() {
        var time = document.getElementById("time");

        var storedTime = localStorage.getItem("time") || "";

        time.value = storedTime;
    }

    // Call the setInputValues function when the page loads
    document.addEventListener("DOMContentLoaded", function () {
        setInputValues();
    });

    // document.addEventListener(
    //     'DOMContentLoaded', () => {
    //     document.getElementById('submitButton').
    //         addEventListener('click', function () {
    //             alert('Form submitted!');
    //         });
    // });


</script>