{% extends "index.html" %} 
{% block content %}
  <div class="block my-background-secondary">
    <h1 class="color-primary">Report a Wait Time</h1>
    <form method="POST">
      <label for="restaurant" class="color-primary">Select a Restaurant:</label><br />
      <select id="restaurant" name="restaurant">
        <option value="">--Choose a restaurant--</option>
        {% for r in ["Auntie Anne's", "Burrito Bowl", "Cafe 1923", "Campus Coffee & Tea Co - Sutherland", 
                     "Campus Coffee & Tea Co - Towers", "Cathedral Sushi", "Chick-fil-A", "CrEATe", 
                     "Ft. Pitt Subs", "PA Taco Co.", "Pom & Honey", "Shake Smart", "Steel City Kitchen", 
                     "The Delicatessen", "The Eatery", "The Perch", "The Roost", "True Burger", "Wicked Pie"] %}
          <option value="{{ r }}">{{ r }}</option>
        {% endfor %}
      </select><br /><br />

      <label for="waitTime" class="color-primary">Wait Time (Minutes):</label><br />
      <input type="number" id="waitTime" name="waitTime" /><br /><br />

      <input type="submit" value="Submit Wait Time" class="button color-primary" />
    </form>
  </div>
{% endblock %}